@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 26px;
        --font_size_title_small: 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 32px;
    }


    .pagination .links a,
    .pagination .links .sep
    {
        font-size: 15px;

        width: 32px;
        height: 32px;
    }


    .pagination .links a.mob_hide
    {
        display: none;
    }


    .pagination .links a.prev .icon,
    .pagination .links a.next .icon
    {
        width: 32px;
        height: 32px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item .head .title
    {
        font-size: 20px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding: 12px 0;
    }


    .mob_header .logo img
    {
        height: 14px;
    }


    .mob_header .icons_links
    {
        gap: 8px;
    }


    .mob_header .icons_links a,
    .mob_header .mob_menu_btn
    {
        min-width: 36px;
        height: 36px;
        padding: 8px;
    }


    .mob_header .icons_links .icon
    {
        width: 18px;
        height: 18px;
    }


    .mob_header .icons_links .favorite .icon
    {
        width: 19px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block blockquote,
    .text_block q
    {
        font-size: 18px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 500px;
        padding-top: 40px;
    }


    .main_slider .pre_title
    {
        font-size: 20px;
    }


    .main_slider .title
    {
        font-size: 64px;
    }


    .main_slider .desc
    {
        font-size: 13px;

        width: 240px;
    }


    .main_slider .link
    {
        margin-top: 20px;
    }


    .main_slider .link a
    {
        font-size: 13px;

        padding: 10px 18px;
    }


    .main_slider .img
    {
        right: -20%;
        bottom: 0;

        width: 120%;
    }



    /*--------------------
        Default slider
    --------------------*/
    .default_slider .cont
    {
        min-height: 500px;
        padding-top: 40px;
    }


    .default_slider .title
    {
        font-size: 64px;
    }


    .default_slider .desc
    {
        font-size: 18px;
    }


    .default_slider .img
    {
        right: -20%;
        bottom: 0;

        width: 112%;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image img.watermark
    {
        left: 10px;

        width: 132px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .item .name
    {
        font-size: 20px;
    }


    .advantages .item .desc
    {
        line-height: 19px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 20px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        margin-bottom: 20px;

        gap: 10px;
    }



    /*------------------
        Product info
    -----------------*/
    .product_info .images .big .image
    {
        height: 300px;
    }


    .product_info .status
    {
        width: auto;
        margin-left: auto;
    }


    .product_info .buy_btn
    {
        width: calc(100% - 130px);
    }


    .product_info .desc
    {
        margin-top: 20px;
        padding-top: 19px;
    }


    .product_info .features .label
    {
        width: 156px;
        min-width: 156px;

        white-space: normal;
    }


    .product_info .features .val
    {
        width: 100px;
        min-width: 100px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .clear_btn
    {
        margin-bottom: 20px;
    }


    .cart_info .product .thumb
    {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
    }


    .cart_info .product .info
    {
        width: 100%;
    }


    .cart_info .product .price:not(.total)
    {
        width: calc(100% - 120px);
        margin-left: 0;
    }


    .cart_info .product .price.total
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .form .type > *
    {
        width: 100%;
    }


    .checkout_info .form .type label:first-child div
    {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }


    .checkout_info .form .type label:last-child div
    {
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .checkout_info .checkout_total
    {
        padding: 20px;
    }


    .checkout_info .promocode .field
    {
        width: 100%;
        max-width: 100%;
    }


    .checkout_info .promocode .apply_btn
    {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }


    .checkout_info .totals .name
    {
        width: 100%;
        margin-bottom: 2px;
        padding: 0;

        text-align: center;
    }


    .checkout_info .totals .val
    {
        width: 100%;

        text-align: center;
    }



    /*------------
        Orders
    ------------*/
    .orders .order .cart_info .product .info
    {
        width: 100%;
    }
}
